.navbar {
  background-color: black !important;
}

.nav-link {
  color: white !important;
}
.nav-link:hover {
  color: #00C457 !important;
}
.jumbotron-fluid {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00c457+0,000000+100 */
background: #00c457; /* Old browsers */
background: -moz-linear-gradient(top, #00c457 0%, #000000 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #00c457 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #00c457 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c457', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

h1 {
  color: white;
}

p {
  color: white;
}

.btn {
  background-color: #00C457 !important;
  color: white;
}

.btn:hover {
  background-color: white !important;
  color: #00C457 !important;
}

p {
  margin-top: -35px;
}

#search-headings {
  padding: 10px;
}

#search-form, .form-control {
    margin-bottom: 20px;
}
.cover {
    width: 300px;
    height: 300px;
    display: inline-block;
    background-size: cover;
}
.cover:hover {
    cursor: pointer;
}
.cover.playing {
    border: 5px solid #e45343;
}

.card {
  border: 0;
}
.overflow-scroll-gradient {
  position: relative;
}
.overflow-scroll-gradient::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 300px;
  height: 25px;
  background: linear-gradient(rgba(255, 255, 255, 0.001), white); /* transparent keyword is broken in Safari */
}
.overflow-scroll-gradient__scroller {
  overflow-y: scroll;
  background: white;
  width: 400px;
  height: 250px;
  padding: 15px 0;
  line-height: 1.2;
  text-align: center;
}

.scroll-discography {
  height: 300px;
  overflow-y: auto;
}

#tour-info {
  height: 300px;
  width: 400px;
  overflow-y: auto;
}
