.navbar {
  background-color: black !important;
}

.nav-link {
  color: white !important;
}
.nav-link:hover {
  color: #00C457 !important;
}
.jumbotron-fluid {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00c457+0,000000+100 */
background: #00c457; /* Old browsers */
background: -moz-linear-gradient(top, #00c457 0%, #000000 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #00c457 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #00c457 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c457', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

.fullscreen {
  height: 100vh;
}

.header-text {
  color: white;
}

.header-p {
  color: white;
}

.btn {
  background-color: #00C457 !important;
  color: white;
}

.btn:hover {
  background-color: white !important;
  color: #00C457 !important;
  border-color: solid 1px #00C457 !important;
}

#search-headings {
  padding: 10px;
}

#search-form, .form-control {
    margin-bottom: 20px;
}

.card {
  border: 0;
}

.event-info {
  height: 500px;
  overflow: auto;
  position: relative;
}

.picSize {
    width: 50px;
    height: 50px;
}

.disc-info {
  height: 300px;
  width: 750px;
  overflow: auto;
}

.marginT {
    margin-top: 50px;
}
